---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Hero from '../components/Hero.astro';
import Icons from '../components/Icons.astro';
---

<script>
	import { emotion } from '../utils/animation.js';
	emotion('.aws', 600, 400, 100, -800, 500, 200, -400, 200);
	emotion('.docker', -600, -400, -100, 200, -500, 600, 500, -600);
	emotion('.go', 500, 300, -400, 300, -400, 500, 400, -500);
	emotion('.js', -500, 200, -600, 400, -300, -400, 300, 400);
	emotion('.react', 400, 100, 600, 500, -200, 300, 200, 500);
	emotion('.sql', -400, -100, 400, 600, -100, -200, 100, -600);
	emotion('.ts', 300, -200, 600, 400, -500, 400, 0, 0);

	setTimeout(() => {
		const icons = document.querySelector('.icons') as HTMLElement;
		icons.style.display = 'none';
	}, 9000);
</script>

<Layout title="Home">
	<Icons />
	<Hero />
	<h2>What I do!</h2>
	<div class="container">
		<Card
			title="Pages"
			desc="I am improving my front-end skills, but I have experience in creating pages and components in React and Astro."
			icon={'../../public/icons8-web-design-60.png'}
		/>
		<Card
			title="Cloud Computing"
			desc="I am pleased to share with you that I am learning about AWS services and look forward to hearing from you soon."
			icon={'../../public/icons8-cloud-computing-64.png'}
		/>
		<Card
			title="Microservices"
			desc="I have developed REST API in GO and NODEjs for both a security pin and a CRUD of countries."
			icon={'../../public/icons8-rest-api-100.png'}
		/>
	</div>
</Layout>

<style>
	.container {
		display: flex;
		height: 18rem;
		max-width: 1200px;
		align-items: flex-start;
		justify-content: space-between;
		margin: 5rem 5rem 1rem 4rem;
	}
	h2 {
		margin: 5rem 5rem 0 4rem;
		font-family: 'Open Sans', sans-serif;
		color: #f7f7f7;
		font-weight: 700;
		font-size: 2.5rem;
	}

	@media screen and (max-width: 768px) {
		.container {
			flex-direction: column;
			height: auto;
			margin: 0 1rem 1rem 1rem;
			padding: 2rem 2rem;
			justify-content: center;
			align-items: center;
		}
		h2 {
			width: 90%;
			text-align: center;
		}
	}

	@media screen and (min-width: 769px) and (max-width: 1200px) {
		.container {
			align-items: stretch;
			margin-bottom: 2rem;
		}
	}
	@media screen and (max-width: 1201) {
		.container {
			width: 90%;
		}
	}
</style>
