---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Hero from '../components/Hero.astro';
---

<script>
	import { frame } from '../utils/animation';
	frame();
</script>

<Layout title="Backend Developer">
	<Hero />
	<h2>What I do!</h2>
	<div class="container">
		<Card
			title="Pages"
			desc="I am improving my front-end skills, but I have experience in creating pages and components in React and Astro."
			icon={'https://res.cloudinary.com/dpmouwnvh/image/upload/v1681246150/icons8-web-design-60_oeboq3.png'}
		/>
		<Card
			title="Cloud Computing"
			desc="I am pleased to share with you that I am learning about AWS services and look forward to hearing from you soon."
			icon={'https://res.cloudinary.com/dpmouwnvh/image/upload/v1681246152/icons8-rest-api-100_edtuld.png'}
		/>
		<Card
			title="Microservices"
			desc="I have developed REST API in GO and NODEjs for both a security pin and a CRUD of countries."
			icon={'https://res.cloudinary.com/dpmouwnvh/image/upload/v1681246117/icons8-cloud-computing-64_tdlb0m.png'}
		/>
	</div>
</Layout>

<style>
	.container {
		display: flex;
		height: 18rem;
		max-width: 1200px;
		align-items: flex-start;
		justify-content: space-between;
		margin: 2rem 4rem 1rem 4rem;
	}
	h2 {
		margin: 5rem 5rem 0 4rem;
		font-family: 'Open Sans', sans-serif;
		color: #f7f7f7;
		font-weight: 700;
		font-size: 2.5rem;
	}

	@media screen and (max-width: 768px) {
		.container {
			flex-direction: column;
			height: auto;
			margin: 0 1rem 1rem 1rem;
			padding: 2rem 2rem;
			justify-content: center;
			align-items: center;
		}
		h2 {
			width: 90%;
			text-align: center;
		}
	}

	@media screen and (min-width: 769px) and (max-width: 1200px) {
		.container {
			align-items: stretch;
			margin-bottom: 2rem;
		}
	}
	@media screen and (max-width: 1201) {
		.container {
			width: 90%;
		}
	}
</style>
