---
export interface Props {
	title: string;
	desc: string;
	icon: string;
}

const { title, desc, icon } = Astro.props;
---

<div class="container">
	<img src={icon} alt={desc} />

	<h3 class="text">
		{title}
	</h3>

	<p class="text">
		{desc}
	</p>
</div>

<style>
	.container {
		display: flex;
		position: relative;
		flex-direction: column;
		padding: 1.5rem 1.5rem;
		gap: 1rem;
		max-width: 20rem;
		height: auto;
		order: 0;
		transition: transform 0.4s ease-out;
		border-radius: 2rem;
		background: linear-gradient(
			rgba(5, 24, 57, 0.859),
			rgba(15, 18, 23, 0.644),
			rgba(15, 18, 23, 0.644),
			rgba(34, 28, 46, 0.247)
		);
	}

	.text {
		font-family: 'Open Sans', sans-serif;
		color: #f7f7f7;
		font-style: normal;
		display: flex;
		align-items: center;
		text-align: center;
	}
	p {
		font-weight: 200;
		font-size: 1rem;
		line-height: 1.6rem;
		text-align: center;
	}
	h3 {
		font-weight: 800;
		font-size: 1.5rem;
		line-height: 2rem;
		margin: 1rem 0;
		align-self: center;
	}

	img {
		width: 2rem;
		height: 2rem;
		position: absolute;
		top: 0.6rem;
		left: 0.6rem;
		transition: transform 0.3s ease-out;
		transform-origin: right top;
	}
	img:hover{
		transform: rotate(-25deg);
	}

	.container:hover{
		transform: scale(1.15,1.15);
	}
	@media screen and (max-width: 768px) {
		.container {
			width: 80%;
			margin: 2rem 0;
			height: auto;
		}

		p {
			font-size: 1.2rem;
			line-height: 1.9rem;
		}
		h3 {
			font-size: 2rem;
			padding-bottom: 1.5rem;
		}
	}

	@media screen and (min-width: 769px) and (max-width: 992px) {
		.container {
			margin: 0 1rem;
			padding: 1rem 0;
		}
		h3 {
			padding-top: 0.5rem;
		}
	}
</style>
