<div>
	<p>Copyright &copy; 2023. All rights reserved.</p>
</div>

<style>
	div {
		display: flex;
		width: 100vw;
		height: 5rem;
		justify-content: center;
		align-items: center;
	}

	p {
		font-family: 'Open Sans', sans-serif;
		color: #f7f7f7;
		font-size: 1.1rem;
		letter-spacing: 0.07rem;
	}
	@media screen and (max-width: 768px) {
	}

	@media screen and(max-width: 992px) {
	}

	@media screen and(max-width: 1200px) {
	}

	@media screen and(max-width: 1400px) {
	}
</style>
