<script>
	const burgerMenu = document.querySelector('.burger-menu') as HTMLElement;
	const menuItems = document.querySelector('.menu-items') as HTMLElement;
	const closeMenu = document.querySelector('.close-menu') as HTMLElement;

	burgerMenu.addEventListener('click', () => {
		menuItems.style.display = 'block';
		closeMenu.style.display = 'block';
		burgerMenu.style.display = 'none';
	});

	closeMenu.addEventListener('click', () => {
		menuItems.style.display = 'none';
		closeMenu.style.display = 'none';
		burgerMenu.style.display = 'block';
	});
</script>

<nav>
	<div class="brand">
		<a class="text logo" href="/">LS</a>
		<div class="burger-menu">
			<img
				src="https://res.cloudinary.com/dpmouwnvh/image/upload/v1681246091/icons_menu_qdihvy.png"
				alt="Open menu"
			/>
		</div>
		<div class="close-menu">
			<img
				src="https://res.cloudinary.com/dpmouwnvh/image/upload/v1681246084/icons_close_xfdzpf.png"
				alt="Close menu"
			/>
		</div>
	</div>
	<ul class="menu-items">
		<li><a href="/About">About</a></li>
		<li><a href="/Work">Work</a></li>
	</ul>
</nav>

<style>
	nav {
		display: flex;
		width: 100%;
		height: auto;
		justify-content: space-between;
		align-items: center;
		margin: 1rem 3rem 1rem 3rem;
		padding: 1rem;
		color: #f7f7f7;
	}

	.logo {
		font-weight: 900;
		font-size: 3rem;
		text-align: center;
	}

	li {
		padding: 0;
		margin: 0 2rem;
	}
	a {
		display: inline-block;
		font-size: 2.5rem;
		font-weight: 500;
		cursor: pointer;
		transition: transform 0.4s ease-out
	}
	.menu-items {
		display: flex;
		list-style: none;
	}

	.burger-menu,
	.close-menu {
		color: #fff;
		width: 40px;
		padding: 0;
		display: none;
	}
	a:hover {
		transform: scale3d(0.9,0.8,0.8);
	}

	@keyframes reset {
		0% {
			transform: scale3d(0.77, 0.83, 0.91);
		}
		100% {
			transform: scale3d(1, 1, 1);
		}
	}

	@media screen and (max-width: 768px) {
		nav {
			justify-content: space-between;
			align-items: center;
			flex-direction: column;
		}
		.brand {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.burger-menu {
			display: block;
		}

		.menu-items {
			display: none;
			width: 100%;
		}
		.menu-items li {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 0;
			margin-bottom: 10px;
			width: 100%;
			padding: 0.8rem 0;
		}

		.close-menu {
			display: none;
		}

		li > a {
			font-size: 1.9rem;
			padding: 0 1rem;
		}
	}

	@media screen and (min-width: 769px) and (max-width: 1200px) {
		.container {
			justify-content: center;
			margin: 2rem 2rem;
			padding: 0 1rem;
			height: auto;
		}
	}
</style>
